.fondo {
  background: #000000;
  background: -webkit-linear-gradient(
      to bottom right,
      rgba(67, 67, 67, 0.399),
      rgba(0, 0, 0, 0.562)
    ),
    url("./fondo.jpg");
  background: linear-gradient(
      to bottom right,
      rgba(67, 67, 67, 0.567),
      rgba(0, 0, 0, 0.537)
    ),
    url("./fondo.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  color: #fff;
  opacity: 0.9;
}
