.fondo {
  background: #348f50;
  background: -webkit-linear-gradient(to bottom, #56b4d3, #348f50),
    url("/fondo.png");
  background: linear-gradient(
      to bottom,
      rgba(86, 180, 211, 0.1),
      rgba(1, 205, 117, 0.899)
    ),
    url("/fondo.jpg");
  background-size: contain;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  color: #fff;
  opacity: 0.9;
}
