.fondo {
  background: #232526;
  background: -webkit-linear-gradient(
      to right,
      rgba(65, 67, 69, 0.1),
      rgba(35, 37, 38, 0.1)
    ),
    url("./fondo.jpg");
  background: linear-gradient(
      to right,
      rgba(65, 67, 69, 0.1),
      rgba(35, 37, 38, 0.1)
    ),
    url("./fondo.jpg");
  background-size: contain;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  color: #fff;
  opacity: 0.9;
}
